org: thr0wn
app: hedgy-cash-oracle
service: hedgy-cash-oracle

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  environment:
    MONGO_URL: ${file(./env.${self:provider.stage}.json):MONGO_URL}
    STAGE: ${self:provider.stage}
    PUSH_ON_CHAIN: ${file(./env.${self:provider.stage}.json):PUSH_ON_CHAIN}
    FULLSTACK_CASH_TOKEN:  ${file(./env.${self:provider.stage}.json):FULLSTACK_CASH_TOKEN}

plugins:
  - serverless-offline

functions:
  createOracle:
    handler: ./src/oracles/oracles.handler.create
    events:
      - http:
          path: api/rest/oracles
          method: post
          cors: true
  listOracles:
    handler: ./src/oracles/oracles.handler.list
    events:
      - http:
          path: api/rest/oracles
          method: get
          cors: true
  runOracle:
    handler: ./src/oracles/oracles.handler.run
    events:
      - http:
          path: api/rest/oracles/pubKey/{pubKey}/run
          method: get
          cors: true
  findOracleByPubKey:
    handler: ./src/oracles/oracles.handler.findByPubKey
    events:
      - http:
          path: api/rest/oracles/pubKey/{pubKey}
          method: get
          cors: true
  testCode:
    handler: ./src/oracles/oracles.handler.testCode
    events:
      - http:
          path: api/rest/oracles/testCode
          method: post
          cors: true
  publishPrice:
    handler: ./src/oracles/oracles.handler.publishPrice
  watch:
    handler: ./src/watcher/watcher.handler.watch
    events:
      - schedule: rate(1 minute)