.side-menu-header__name {
    margin: 5px 0;
    margin-left: calc(calc(100% - 211px) / 2);
}

.side-menu-content {
    position: relative;
}

.side-menu-content__logo {
    position: absolute;
    left: calc(calc(100% - 250px) / 2);
    bottom: 30px;
}
